<div class="center jumbotron">
<h1>Welcome to MyReciepes App</h1>
<h2> This is the home page for Myrecipies app build on ruby on rails for udemy course work.</h2>

<%= link_to "Signup now!","", class: "btn btn-success btn-lg" %>
</div>

<div class="row">
  <div class="col-sm-4">
      <h3 class="midrow">View recepies as guest user</h3>
      <h2 class="left">Browse and view recepies as guest and signup later</h2>
      <p><%= link_to "Browse Recepie Listing","", class: "btn btn-info btn-sm" %></p>
  </div>
  
  <div class="col-sm-4">
      <h3 class="midrow">View recepies as guest user</h3>
      <h2 class="left">Browse and view recepies as guest and signup later</h2>
      <p><%= link_to "Browse Recepie Listing","", class: "btn btn-info btn-sm" %></p>
  </div>
  
  <div class="col-sm-4">
      <h3 class="midrow">View recepies as guest user</h3>
      <h2 class="left">Browse and view recepies as guest and signup later</h2>
      <p><%= link_to "Browse Recepie Listing","", class: "btn btn-info btn-sm" %></p>
  </div>
  
</div>
